<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between">
  <span class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3">
    &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
  </span>
  bleble
    <div class="nananana_link">
        {{ partial "social-follow.html" . }}
        <a href="https://github.com/allgreed/kasprowicz.pro" target="_blank" class="nananana_link link-transition slack link dib z-999 pt3 pt0-l mr1" title="Source on Github" rel="noopener" aria-label="view Source on Github——Opens in a new window">
            <span >view source</span>
      {{ partial "svg/github.svg" (dict "size" "32px") }}
      {{- partial "new-window-icon.html" . -}}
        </a>
    </div>
  </div>
</footer>
